<!DOCTYPE html>
<html>
	<head>
		<!-- Page Title -->
		<title>%TITLE%</title>

		<meta charset="UTF-8" />

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/Tram-One/tram-logo/master/v3/tram.svg">
	</head>
	<body>
		<div id="app"></div>
		<script src="./src/index.js">
		</script>
	</body>
</html>
