@import "../node_modules/@tram-one/tram-logo/variants/neon.css"
  (prefers-color-scheme: dark);

.app {
  display: grid;
  place-content: center;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}

.tram-one-logo {
  pointer-events: none;
  width: 40vmin;
  height: 40vmin;
}
