body {
	font-family: 'Poppins', sans-serif;
	color: #dedede;
	background: #222;
	font-size: 1.2em;
	margin: 1em;
}

.app-header {
	margin: -0.5em -0.5em 0em -1em;
	padding: 1em;
	background: #111;
	color: #dedede;
}

label {
	display: table; /* block formatting, with a minimum width */
}

a {
	color: inherit;
}
